In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('/home/user/AI/LibrariesForAI/Supervised_Learning/5_Train_Test_Split-20220521T044859Z-001/5_Train_Test_Split/carprices.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

Car mileage vs Sell Price